<link rel="stylesheet" href="/css/class.css" />
<article id="classArticle">
    <div id="classDiv1">
        <div>
            <img id="classImg" src="/assets/{{photo}}"/>
        </div>
        <div id="classDiv3">
            <h2 id="className">{{classname}}</h2>
            <p>Instructor: {{instructor}}</p>
            <p>Duration: {{duration}} mins</p>
            <form action="/user/toCart" method="post">
                <input id="bookButton" type="submit" value="Book Now" name="{{classname}}">
            </form>
        </div>
    </div>
</article>