<link rel="stylesheet" href="/css/cart.css" />
<section>
    <div id="payform-div">
        {{#if hasItem}}
        <div id="cxdetails">
            <h3>Customer Details</h3>
            <form action="/user/payment" method="post" id="payform">
                <input type="text" placeholder="Enter Your Name" class="cxinput" name="cxname" required>
                <br>
                <input type="text" value="{{buyer}}" class="cxinput" name="email">
                <input type="hidden" value="{{calresult.total}}" name="total">
            </form>
        </div>
        {{> cartItem}}
        <p>-----------------------------------------------------------------------------------------------------------</p>
        <p>Course amount: <span>{{calresult.itemCount}}</span></p>
        <p>Subtotal: <span>{{calresult.subTotal}}</span></p>
        <p>Tax: <span>{{calresult.tax}}</span></p>
        <p>-----------------------------------------------------------------------------------------------------------</p>
        <p>Total: <span>{{calresult.total}}</span></p>
        <p>-----------------------------------------------------------------------------------------------------------</p>
        <input type="submit" form="payform" value="PAY" id="blnc" />
        {{else}}
        <p>No Item in Shopping Cart</p>
        {{/if}}
    </div>

</section>